@import "nullstyle.css";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #343434;
  background: #3c0a8bd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#root {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* overflow: auto; */
  padding: 50px;
  background: #fff;
  border-radius: 30px;
}
