.todo_item {
  background-color: #fff;
  width: 100%;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.todo_item:not(:last-child) {
  margin-bottom: 15px;
}

.todo_item__title {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease 0s;
  position: relative;
  display: inline-block;
  padding: 5px 0;
  position: relative;
}
.todo_item__title_complited {
  opacity: 0.45;
  position: relative;
  transition: all 0.3s ease 0s;
}
.todo_item__title_complited::before {
  content: "";
  position: absolute;
  height: 3px;
  background: rgb(179, 6, 6);
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  transition: all 0.3s ease 0.1s;
  animation: complited 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes complited {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.todo_item__description {
  font-size: 18px;
  margin-bottom: 15px;
}

.todo_item__btns {
  display: flex;
  justify-content: right;
  gap: 5px;
}
